#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#board {
  display: grid;
  gap: 0.2rem;
  /* Below proprty will be set dynamically based on the size of the board */
  /* grid-template-columns: repeat(3, 1fr); */
}

.cell {
  background-color: rgb(243, 239, 239);
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
